.content {
  margin-top: 70px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

div.itemContainer {
  /*display: inline-block;*/
  background: #444444;
  height: auto;
  margin-bottom: 5px;
  padding: 5px;
  color: white;
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
  /* color: #FFFFFF;*/
}

.artist {
  font-size: 1.0rem;
  /*color: #FFFFFF;*/
}

.album {
  font-size: 1.0rem;
  color: #FFFFFF;
}

img.albumImage {
  background: #D8D8D8;
  border: 1px solid #000000;
  border-radius: .5;
  margin-right: 5px;
}

 #sortable { 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
}

#sortable li { 
  margin: 0 0px 5px 0px; 
  padding: 5px; 
  font-size: 1.0em; 
  height: 3.5em; 
}

html > body #sortable li { 
  height: auto;
  line-height: 1.0em; 
}

.ui-state-highlight { 
  height: 1.5em; 
  line-height: 100px; 
  color: yellow;
}

.ui-state-default {
  border: 1px solid #c5c5c5;
  border-radius: .5px;
  background: #f6f6f6;
  font-weight: normal;
  color: #454545;
}

.fa-trash {
  color: #AA0000;
  cursor: pointer;
  display: inline-block;
}

.fa-plus {
  color: #488752;
  cursor: pointer;
}