.content {
  margin-top: 70px;
}

.noPointer {
  cursor: default;
}

main {
  background: url('./assets/images/headphones.jpg') center / cover;
  opacity: .7;
  z-index: 1024;
}

.center-block {
  display: table-row;
}

.cp50 {
  width: 50%;
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  text-align: center;
  padding: 0;
}

.search-bg {
  color: #fff;
  height: 176px;
  background: url('https://static.pexels.com/photos/30222/pexels-photo-30222.jpg') center / cover;
}

.vinyl-bg {
  color: #ffff;
  background: url('./assets/images/vinyl.jpg') center / cover;
}

div.itemContainer {
  /*display: inline-block;*/
  background: #444444;
  height: auto;
  margin-bottom: 5px;
  padding: 5px;
  color: white;
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
  /* color: #FFFFFF;*/
}

.artist {
  font-size: 1.0rem;
  /*color: #FFFFFF;*/
}

.album {
  font-size: 1.0rem;
  color: #FFFFFF;
}

img.albumImage {
  background: #D8D8D8;
  border: 1px solid #000000;
  border-radius: .5;
  margin-right: 5px;
  max-height: 50px;
}

.fa-trash {
  color: #AA0000;
  cursor: pointer;
  display: inline-block;
}

.fa-plus {
  color: #488752;
  cursor: pointer;
}